#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

.card form {
  display: flex;
  flex-direction: column;
}

.password {
  padding: 0.25em;
  margin-bottom: 1em;
}

.button {

}
